*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;

}
.top-text{
    margin: 0;
    font-weight: bolder;
    background-image: linear-gradient(45deg, #ffa31f, #fe743c);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    border-image: linear-gradient(45deg, #ffa31f, #fe743c) 1;
    border-top: solid 5px;
}
/* upercases */
.top-text,
.bottom-text,
sub,
button
{
    text-transform: uppercase;
}
/* flex */
.intro,
main{
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
}
/* layout */
main,.intro{
    display: flex;
}

header{
    justify-content: center;
    background:#3c1517 url('photo/alexandru-bogdan-ghita-UeYkqQh4PoI-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}
.intro{
    justify-content: space-between;
    text-align: center;
    backdrop-filter: blur(3px);
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1.5em;
    min-height: 350px;
}
main{
    justify-content: center;
    align-items: center;
    min-height: 50%;
}


/* gradient for text */
.top-text,.bottom-text,sub{
    font-weight: bolder;
    background-image: linear-gradient(90deg, #ffa31f, #fe743c);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
}

/* typography */
.top-text{
    border-top: solid 5px;
}
.bottom-text{
    font-weight: 900;
    font-size: 1.2rem;
}
h1{
    font-weight: 500;
    font-size: larger;
    font-size: 2rem;
}
span{
 font-weight: 900;
}
h2{
    margin-bottom: 0;
}
main p{
font-weight: 300;
letter-spacing: 1px;
}
input,
button{
    width: 100%;
    margin: 0.5em 0;
    text-align: center;
    border-radius: 5px;
    padding: 0.5em 2em;

}
button{
    background-image: linear-gradient(90deg, #ffa31f, #fe743c);
    border: none;
    color: white;
    font-weight: 600;
}

/* pc splash style */

@media (min-width: 900px){
    body{
        display: flex;
    }
    header,
    main{
        width: 50%;
    }
    .intro{
        height: 100vh;
    }
    h1{
        font-size: 5vw;
    }
    main{
        padding: 0 10vw;
        font-size: 1.9vw;
        
    }
}